<?xml version="1.0" encoding="utf-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" lives-count="3">
  <obstacles>
    <obstacle name="None" score="25" />
    <obstacle name="Border" score="25" />
    <obstacle name="Bumper" score="25" />
    <obstacle name="Triangle" score="25" />
    <obstacle name="DropZone" score="25" />
    <obstacle name="Count" score="25" />
  </obstacles>
</settings>